[project]
	description = An introduction to Dependency Injection.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jlmwebhosting
[access "refs/for/refs/*"]
	read = group user/jlmwebhosting
	push = group user/jlmwebhosting
	label-Code-Review = -2..+2 group user/jlmwebhosting
	label-Verified = -1..+1 group user/jlmwebhosting
	rebase = group user/jlmwebhosting
	removeReviewer = group user/jlmwebhosting
	submit = group user/jlmwebhosting
[access "refs/heads/*"]
	read = group user/jlmwebhosting
	create = group user/jlmwebhosting
	push = +force group user/jlmwebhosting
	pushMerge = group user/jlmwebhosting
[access "refs/tags/*"]
	push = +force group user/jlmwebhosting
	pushTag = group user/jlmwebhosting
	pushSignedTag = group user/jlmwebhosting
